header {
    display:flex;
    height: 80px;;
}
.netflix_logo img{
    width:100px;
}
nav {
    display:flex;
    margin-top: 100px;
}
nav h2 {
    color : white;
    font-size: 40px;
}

nav p{
    width:300px;
    margin-top:20px;
    font-size: 15px;
    color:white;
    
}
.movie_poster {
    margin : 20px;
    padding : 20px;
}

.movie_poster:hover{
    .img_class {
        width:330px;
        height: 320px;
    }

}

.movie_poster img {
    width:250px;
    height: 250px;
}
.main {
    
    display:flex;
    flex-wrap: wrap;
}
.explain {
    margin-top: 20px;
    max-width:200px;
    height: 50px;
    color : white;
    font-size: 12px;
    overflow: hidden;
}

